services:
  - type: web
    name: cleardeals-backend
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install setuptools wheel
      pip install -r requirements.txt
    startCommand: "uvicorn main:app --host 0.0.0.0 --port 10000"
    pythonVersion: 3.10.12
    envVars:
      - key: PORT
        value: 10000
